$('.admin_panel').empty().show();

$('.admin_panel').html("<%= escape_javascript(render('layouts/all_users', users: @users)) %>")


$('.ban').click(
  function(){
   console.log("you are banned");
   }
)

$(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});