
<div class="admin_panel">

    <div class="card-spacing">
        <div class="card">
        <div class="card-header">
            User Listing
        </div>
        <div class="card-body">
            <h5 class="card-title">Lists all users</h5>
            <p class="card-text">Lets you see all users to control and view their activites.</p>
            <%=button_to "Go to user listing", admin_panel_list_users_url, method: :get, remote: :true, class: "btn btn-primary"%>
        </div>
        </div>
    </div>

    <div class="card-breaking"><div>

    <div class="card-spacing">
        <div class="card">
        <div class="card-header">
            See all posts
        </div>
        <div class="card-body">
            <h5 class="card-title">Lists all posts</h5>
            <p class="card-text">Lets you see all posts and delete them</p>
            <%=button_to "Go to post listing", admin_panel_list_posts_url, method: :get, remote: :true, class: "btn btn-primary"%>
        </div>
        </div>
    </div>

</div>