
<div class="card-spacing">
    <div class="card">
    <div class="card-header">
        User Listing
    </div>
    <div class="card-body">
        <h5 class="card-title">Lists all users</h5>
        <p class="card-text">Lets you see all users to control and view their activites.</p>
        <a href="#!" class="btn btn-primary">Go to user listing</a>
    </div>
    </div>
</div>

<div class="card-breaking"><div>

<div class="card-spacing">
    <div class="card">
    <div class="card-header">
        See all posts
    </div>
    <div class="card-body">
        <h5 class="card-title">Lists all posts</h5>
        <p class="card-text">Lets you see all posts and delete them</p>
        <a href="#!" class="btn btn-primary">Go to post listing</a>
    </div>
    </div>
</div>

