<%= render 'layouts/create_form_button' %>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active">Personal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Following</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Public</a>
  </li>
</ul>

<div class="feed div"></div>